/** ==================================
    Globales
    =================================**/

   
      /** ==================================
    Main - Formulario - Registro
    =================================**/


      .formulario {
        text-align: center;
              
        background-size: cover;
      
        height: 85vh;
      }
      

     
  
      
      /** ==================================
          Inicio de Sesion - Formulario
          =================================**/
      .largoFondos {
        width: 35%;
      }
      