/** ==================================
    se llamaron estilos globlaes de otra
    carpeta, ingrese los suyos aca,
    para sobreescribir algo si no se cambia
    puede agregarle a la derecha
    !important 
    y listo
    =================================**/


    .temporalis{
        width: 40%;
        margin: 50px 100px;
    }
    
    .contenidoPrincipal{
        
        text-align: center;
        margin-top: 50px;
    }

    #map{
        height: 300px;
    }

  